<?xml version="1.0" encoding="UTF-8"?>
<array>
    <dict>
        <key>NSPrivacyAccessedAPICategory</key>
        <string>NSPrivacyAccessedAPICategoryBadge</string>
        <key>NSPrivacyAccessedAPIUsageDescription</key>
        <string>This app updates the app icon badge to reflect new notifications.</string>
    </dict>
</array>
