<?xml version="1.0" encoding="UTF-8"?>
<array>
  <dict>
    <key>NSPrivacyAccessedAPICategory</key>
    <string>Notifications</string>
    <key>NSPrivacyAccessedAPIUsageDescription</key>
    <string>This app updates the app icon badge to notify you of new messages or events.</string>
  </dict>
</array>

